body {
  height: 4300px;
  padding: 0;
  margin: 0;
}

main {
  height: 4300px;
}

.container {
  max-width: 1110px;
  margin: 0 auto ;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  z-index: 10;
}

.group {
  width: 245px;
  display: flex;
  justify-content: space-between;
  list-style-type: none;
  padding: 0;
  color: #37447E;
}

.buy-now {
  width: 160px;
  height: 26px;
  background-color: #111B47;
  color: white;
}

.logo {
  color: #37447E;
}

.text-section {
  position: absolute;
  width: 539.37px;
  height: 316px;
  top: 303px;
  gap: 0px;
  opacity: 0px;
}

.text-section h2 {
  position: relative;
  z-index: 10;
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  font-size: 50px;
  line-height: 66px;
  letter-spacing: 1px;
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;

}

.text-section p {
  position: relative;
  z-index: 10;
  font-family: 'Roboto', sans-serif;
  font-size: 18px;
  font-weight: 400;
  line-height: 30px;
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
  color: #505F98;

}

.buttons-section {
  margin-top: 60px;
}

.button1 {
  width: 189.13px;
  height: 36px;
  top: 688px;
  left: 163.12px;
  gap: 0px;
  opacity: 0px;
  margin-right: 20px;
  background-color: #111B47;
  color: white;
  font-family: 'Roboto', sans-serif;
}

.button2 {
  width: 189.13px;
  height: 36px;
  top: 688px;
  left: 163.12px;
  gap: 0px;
  opacity: 0px;
  background-color: transparent;
  font-family: 'Roboto', sans-serif;
  border: 2px solid black;
}

.section-login {
  display: flex;
  margin-top: 200px;
}

.text-section2 h3 {
  position: relative;
  z-index: 10;
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  font-size: 50px;
  line-height: 66px;
  letter-spacing: 1px;
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
}

.text-section2 p {
  position: relative;
  z-index: 10;
  font-family: 'Roboto', sans-serif;
  font-size: 18px;
  font-weight: 400;
  line-height: 30px;
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
  color: #505F98;
}

.text-section2 {
  margin-bottom: 50px;
}

.additional-info{
  display: flex;
  justify-content: space-between;
}

.additional-text {
  width: 255px;
  height: 138px;
}

.additional-text2 {
  width: 255px;
  height: 138px;
}

.additional-info img {
  width: 36px;
  height: 36px;
}

.additional-info span {
  margin-top: 10px;
  display: block;
  height: 36px;
  font-size: 20px;
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
}

.additional-info p {
  margin: 0;
  height: 16px;
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  opacity: 0.7;
}

.login-image img {
  height: 524px;
  margin-left: 50px;
}

.information-section {
  display: flex;
  margin-top: 200px;
  justify-content: space-between;
  align-items: center;
  align-content: center;
}

.text-info2 {
  width: 445px;
  height: auto;
}

.text-info2 h3 {
  position: relative;
  z-index: 10;
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  font-size: 40px;
  line-height: 66px;
  letter-spacing: 1px;
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
  margin-top: 10px;
}
.text-info2 p {
  position: relative;
  z-index: 10;
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 26px;
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
  color: #6F7CB2;
  margin: 0;
}

.purchase-button {
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
  font-weight: 500;
  line-height: 24px;
  text-align: center;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
  background-color: #111B47;
  color: white;
  width: 150px;
  height: 32px;
  gap: 0px;
  border-radius: 2px 0px 0px 0px;
  opacity: 0px;
  margin-top: 30px;
}

.purchase-section {
  position: relative;
}

.rectangle-picture {
  width: 100%;
  position: relative;
  height: 938px;
  margin-top: 200px;
}

.offer-section {
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  width: 600px;
}

.offer-section h3 {
  font-family: 'Roboto', sans-serif;
  font-size: 36px;
  font-weight: 500;
  line-height: 48px;
  text-align: center;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;

}

.offer-section p {
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 26px;
  text-align: center;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
  color: #6F7CB2;
}

.price-section {
  position: absolute;
  top: 60%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  width: 600px;
}

.price-section h3 {
  font-family: 'Roboto', sans-serif;
  font-size: 50px;
  font-weight: 500;
  line-height: 66px;
  letter-spacing: 1px;
  text-align: center;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
  margin: 0;
  color: #222F65;
}

.price-section p {
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 26px;
  text-align: center;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
  margin: 0;
  color: #37447E;
}

.button-section {
  position: absolute;
  top: 80%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  width: 600px;
}

.button-section p {
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
  text-align: center;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
}

.purchase-now {
  width: 189px;
  height: 32px;
  gap: 0px;
  border-radius: 2px 0px 0px 0px;
  opacity: 0px;
  background-color: #37447E;
  color: white;
  overflow: hidden;
}

.footer {
  background-color: #E7ECFF;
  height: 200px;
  position: relative;
  z-index: 10;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.stuff {

  margin: 0 auto;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 30px;
}

.button-footer {
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
  font-weight: 500;
  line-height: 24px;
  text-align: center;
  content: "Purchase Now";
  width: 109px;
  height: 26px;
  position: absolute;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
  background-color: #222F65;
  border: 2px solid black;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}


.stuff::before {
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
  font-weight: 500;
  line-height: 24px;
  text-align: center;
  content: "©2023 Yourcompany";
  width: 109px;
  height: 26px;
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  color: rgb(100, 95, 95);
  width: fit-content;
  opacity: 0.6;
  margin: 0;
  padding: 0;
}

.hero-wrapper {
  position: relative;
  height: 100vh;
}

.hero {
  height: 100vh;
}

.hero-picture {
  position: absolute;
  top: -90px;
  right: 0;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
  box-sizing: border-box;
}

.footer2{
  display: flex;
  justify-content: space-between;
  background-color: #E7ECFF;
}

.social-icons{
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: rgb(100, 95, 95);

}

.social-icons a{
  margin-left: 22px;
  color: rgb(100, 95, 95);

}

@media (max-width: 768px) {
  .header {
    flex-direction: column;
    align-items: center;
    padding: 20px;
  }

  .social-icons{
    flex-direction: column;
    align-items: center;
    padding: 20px;
  }

  .button-footer{
    position:absolute;
    right: 34%;
  }

  .stuff h1{
    margin-top: 0;
  }

  .stuff::after{
    height: fit-content;
  }

  .group {
    flex-direction: column;
    gap: 15px;
    align-items: center;
  }
  .buy-now {
    margin-top: 15px;
    width: auto;
  }

  .logo h1 {
    font-size: 24px;
  }

  .hero-wrapper {
    height: auto;
    padding: 20px;
    position: static;
  }

  .hero {
    flex-direction: column-reverse;
    text-align: center;
    gap: 20px;
    margin: 0;
    height: 500px;
  }

  .text-section p{
    text-align: center;
  }

  .text-section h2 {
    text-align: center;
  }

  .text-section2 h3 {
    text-align: center;
  }

  .text-section2 p {
    text-align: center;
  }

  .login-image {
    display: none;
  }

  .text-info2 {
    width: 80%;
    text-align: center;
  }

  .text-info2 p {
    text-align: center;
  }

  .text-info2 h3 {
    text-align: center;
  }

  .hero-picture img {
    width: 100%;
    max-width: 400px;
    height: auto;
    display: none;
  }

  .text-section {
    max-width: 90%;
    padding: 0;
  }

  .buttons-section {
    flex-direction: column;
    gap: 10px;
  }

  .section-login {
    flex-direction: column;
    text-align: center;
    gap: 20px;
  }

  .login-content {
    padding: 20px;
  }

  .additional-info {
    flex-direction: column;
    gap: 20px;
    align-items: center;
  }

  .login-image img {
    width: 100%;
    max-width: 500px;
    height: auto;
  }

  .information-section {
    flex-direction: column;
    text-align: center;
    gap: 20px;
    margin: 20px 0;
  }

  .information-section img {
    width: 100%;
    max-width: 400px;
    height: auto;
  }

  .text-info2 {
    padding: 0 20px;
  }

  .rectangle-picture {
    width: 100%;
    height: auto;
  }

  .offer-section, .price-section, .button-section {
    width: 90%;
    text-align: center;
    margin: 0 auto;
  }

  .offer-section h3, .price-section h3 {
    font-size: 24px;
  }

  .offer-section p {
    font-size: 16px;
  }

  .button-section {
    padding: 20px;
  }

  .footer {
    flex-direction: column;
    padding: 20px;
  }

  .stuff::before, .stuff::after {
    position: static;
    margin:0;
  }

  .rectangle-picture{
    height: 610px;
  }
}

@media (max-width: 1024px) {
  .header {
    padding: 20px;
  }

  .hero-picture {
    display: none;
  }

  .stuff {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .hero-picture img {
    width: 70%;
    height: auto;
  }

  .section-login {
    flex-direction: column;
    gap: 30px;
  }

  .additional-info {
    flex-direction: column;
    gap: 15px;
  }

  .information-section {
    flex-direction: column;
    text-align: center;
    gap: 20px;
  }

  .offer-section, .price-section, .button-section {
    width: 80%;
  }

  .button1 {
    margin: 0;
    margin-bottom: 20px;
  }
}
